
  .expense-item {
      display: flex;
      color: aqua;
      border: 1px solid aquamarine;
      justify-content: center;
      align-items: center;
      min-height: 5em;
    }
  .expense-item div {
      width: 33%; 
      border: 1px snow antiquewhite;     
    }
  .expense-item button {
       background: aqua;
       padding: 12px 5px;
       border-radius: 5px;
       width: 8%;
     }