.App {
  text-align: center;
  background-color: rgb(27, 25, 25);
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}
h4 {
  color: aqua;
  padding: 20px 0px;
  margin: 12px 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
